.product-list  {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.product-list article {
    background: #fff;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-list article strong {
    color: #000000;
}

.product-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.product-list article a {
    height: 42px;
    border-radius: 5px;
    border: 1px solid #5555dd;
    background: none;
    margin-top: 12px;
    color: #5555dd;
    font-weight: bold;
    font-style: oblique;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.product-list article a:hover {
    background: #5d5df1;
    color: #fff;
}

.product-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #5d5df1;
    color: #fff;
    font-size: 14px;
    font-weight: inherit;
}

.product-list .actions button[disabled] {
    background: #fff;
    color: #fff;
}
.product-list .actions button:hover {
    opacity: 0.7;
}